
*.pyc
__pycache__

/judge/venv
/judge/jail
/judge/submissions/*
!/judge/submissions/empty

/judge/bin/SafeExec/safeexec
/judge/bin/SafeExec/os-detect
/judge/bin/SafeExec/*.o

/server/venv
/server/judges/ideone/venv
/server/judges/temp

/venv

