[submodule "problemtools"]
	path = problems/problemtools
	url = https://github.com/Kattis/problemtools.git
[submodule "judge/isolate"]
	path = judge/isolate
	url = https://github.com/jamiees2/isolate.git
[submodule "manual_judge/xonsh"]
	path = manual_judge/xonsh
	url = https://github.com/scopatz/xonsh.git
	branch = master
