{% extends "judge/base.html" %}
{% block body %}

<div class="container-fluid" id="main">

    <div class="row">
        <form class="form-horizontal form-signin" action="" method="post">
            <fieldset>
                <div id="legend">
                    <legend class="">Log in</legend>
                </div>

                {% if bad_login %}
                    <div class="alert alert-danger">
                        <h4>Bad credentials!</h4>
                        Make sure you typed in the correct password.
                    </div>
                {% endif %}

                <div class="form-group">
                    <label class="control-label" for="judge">Judge name</label>
                    <input type="text" id="judge" name="judge" value="{{ judge_name }}" class="input-xlarge form-control">
                </div>

                <div class="form-group">
                    <label class="control-label" for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="" class="input-xlarge form-control">
                </div>

                <div class="form-group">
                    <button class="btn btn-success">Log in</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>


{% endblock %}
