{% extends "judge/base.html" %}
{% block body %}

<div class="navbar navbar-static-top" id="header">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ url_for('judge_index') }}">{{ contest.title }}</a>
            {% if phase.status %}
                <p class="navbar-text pull-left">{{ phase.status }}</p>
            {% endif %}
            {% if phase.countdown != None and phase.current_countdown() >= 0 %}
                <p class="navbar-text pull-left countdown">{{ phase.current_countdown() | format_time }}</p>
            {% endif %}
            <ul class="nav pull-right">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{ judge.name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('judge_logout') }}">Log out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" id="main">

    <div class="row-fluid">
        <div class="span2">
            <ul class="nav sidebar-nav nav-list well" id="problem-list">
                {% if phase.scoreboard_problems %}
                    <li><a href="{{ url_for('judge_view_scoreboard') }}">Scoreboard</a></li>
                {% endif %}

                <li><a href="{{ url_for('judge_list_submissions') }}">Submissions</a></i>
                <li><a href="{{ url_for('judge_list_teams') }}">Teams</a></i>
                <li><a href="{{ url_for('judge_balloons') }}">Balloons</a></i>
                <li><a href="{{ url_for('judge_export') }}">Export</a></i>
                <li><a href="{{ url_for('judge_resolver') }}">Resolver</a></i>
                <li><a href="{{ url_for('judge_reload') }}">Reload Config</a></i>
            </ul>
        </div>
        <div class="span10" id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12" id="footer" style="text-align: center">
            <hr />
            generated in {{ "%.04f" % (g.request_time() * 1000.0) }}ms by <span class="epsilon" title="epsilon">&epsilon;</span>
        </div>
    </div>

</div>
{% endblock %}
