{% extends "base.html" %}
{% block body %}

<div class="navbar navbar-static-top" id="header">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ url_for('index') }}">{{ contest.title }}</a>
            {% if phase.status %}
                <p class="navbar-text pull-left">{{ phase.status }}</p>
            {% endif %}
            {% if phase.countdown != None and phase.current_countdown() >= 0 %}
                <p class="navbar-text pull-left countdown">{{ phase.current_countdown() | format_time }}</p>
            {% endif %}
            <ul class="nav pull-right">
                {% if team: %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{ team.name }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('default.logout') }}">Log out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ url_for('default.login') }}"><i class="icon-user"></i> Log in</a></li>
                    {% if contest.register %}
                        <li><a href="{{ url_for('default.register') }}"><i class="icon-plus-sign"></i> Register</a></li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid" id="main">

    <div class="row-fluid">
        <div class="span2">
            <ul class="nav sidebar-nav nav-list well" id="problem-list">
                {% if phase.scoreboard_problems %}
                    <li><a href="{{ url_for('default.view_scoreboard') }}">Scoreboard</a></li>
                {% endif %}
                {% if team %}
                    <li><a href="{{ url_for('default.list_submissions') }}">Submissions</a></i>
                {% endif %}
                <li class="nav-header">Problems</li>
                {% if phase.problem_list %}
                    {% set cnt = 1 %}
                    {% for k, v in phase.problem_list %}
                        {% if k == 'header' %}
                            <li class="nav-header" style="font-size: 0.7em; margin-top: 0; margin-bottom: -6px;">{{ v }}</li>
                        {% elif k == 'text' %}
                            <li class="nav-header">{{ v }}</li>
                        {% elif k == 'problem' %}

                            <li class="problem {% if problem and problem.id == v %}active{% endif %} {% if v in solved %}ac{% elif v in tried %}wa{% endif %}">
                                <a href="{{ url_for('default.view_problem', problem_id=v) }}"><span class="number">{{ cnt }}.</span> {{ contest.problems[v].title | safe }}</a>
                            </li>

                            {% set cnt = cnt + 1 %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li>No problems available</li>
                {% endif %}
            </ul>
        </div>
        <div class="span10" id="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <div class="row-fluid">
        <div class="span12" id="footer" style="text-align: center">
            <hr />
            generated in {{ "%.04f" % (g.request_time() * 1000.0) }}ms by <span class="epsilon" title="epsilon">&epsilon;</span>
        </div>
    </div>

</div>
{% endblock %}
