{% extends "base.html" %}
{% block body %}

<div class="navbar navbar-default navbar-fixed-top header">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <button type="button" class="navbar-toggle pull-left collapsed sidebar-toggle">
                    <span class="sr-only">Toggle sidebar</span>
                    <i class="fa fa-arrow-left"></i>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">{{ contest.title }}</a>
                {% if phase.status %}
                    <p class="navbar-text">{{ phase.status }}</p>
                {% endif %}
                {% if phase.countdown != None and phase.current_countdown() >= 0 %}
                    <p class="navbar-text countdown">{{ phase.current_countdown() | format_time }}</p>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse" id="topbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if team: %}
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ team.name }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('default.logout') }}"><i class="fa fa-user-times"></i> Log out</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ url_for('default.login') }}"><i class="fa fa-user"></i> Log in</a></li>
                        {% if contest.register %}
                            <li><a href="{{ url_for('default.register') }}"><i class="fa fa-plus"></i> Register</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="wrapper">
    <div class="sidebar-wrapper">
        <ul class="nav sidebar nav-stacked problem-list">
            {% if phase.scoreboard_problems %}
                <li><a href="{{ url_for('default.view_scoreboard') }}"><i class="fa fa-flag"></i> Scoreboard</a></li>
            {% endif %}
            {% if team %}
                <li><a href="{{ url_for('default.list_submissions') }}"><i class="fa fa-check-square-o"></i> Submissions</a></i>
            {% endif %}
            <!-- <li class="nav-header">Problems</li> -->
            {% if phase.problem_list %}
                {% set ns = namespace(cnt=1) %}
                {% for k, v in phase.problem_list %}
                    {% if k == 'header' %}
                        <li class="nav-header" style="font-size: 0.7em; margin-top: 0; margin-bottom: -6px;">{{ v }}</li>
                    {% elif k == 'text' %}
                        <li class="nav-header">{{ v }}</li>
                    {% elif k == 'problem' %}

                        <li class="problem {% if problem and problem.id == v %}active{% endif %} {% if v in solved %}ac{% elif v in tried %}wa{% endif %}">
                            <a href="{{ url_for('default.view_problem', problem_id=v) }}" class="{% if problem and problem.id == v %}active{% endif %}"><span class="number">{{ ns.cnt }}.</span> {{ contest.problems[v].title | safe }}</a>
                        </li>

                        {% set ns.cnt = ns.cnt + 1 %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <li>No problems available</li>
            {% endif %}
        </ul>
    </div>
    <div class="content-wrapper">
        <div class="container-fluid" id="main">
            <div class="row">
                <div class="col-xs-12 content">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 footer">
            <hr />
            generated in {{ "%.04f" % (g.request_time() * 1000.0) }}ms by <span class="epsilon" title="epsilon">&epsilon;</span>
        </div>
    </div>

</div>
{% endblock %}
