{% extends "main.html" %}
{% block content %}

<form class="form-horizontal" action="" method="post">
    <fieldset>
        <div id="legend">
            <legend class="">Register</legend>
        </div>

        {% if error %}
            <div class="alert alert-error">
                <h4>Registration unsuccessful!</h4>
                <ul>
                    {% for e in error %}
                        <li>{{ e }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <div class="control-group">
            <label class="control-label" for="team">Team name</label>
            <div class="controls">
                <input type="text" id="team" name="team" value="{{ team_name }}" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="password">Password</label>
            <div class="controls">
                <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="confirm_password">Confirm password</label>
            <div class="controls">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="" class="input-xlarge">
            </div>
        </div>

        <div class="control-group">
            <div class="controls">
                <button class="btn btn-success">Register</button>
            </div>
        </div>
    </fieldset>
</form>

{% endblock %}
