{% extends "main.html" %}
{% block title %}
{{ contest.title }} - scoreboard
{% endblock %}
{% block content %}

{% if phase.frozen != None and contest.time_elapsed() >= 60.0 * phase.frozen %}
    <h4>The scoreboard has been frozen</h4>
{% endif %}

<div class="btn-group" style="margin-bottom:10px">
    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        Groups
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {% for title, group in sorted(map(reversed, contest.groups.items())) %}
            <li><a href="{{ url_for('default.view_scoreboard', opts='groups=' + group) }}">{{ title }}</a></li>
        {% endfor %}
    </ul>
</div>

<table class="table table-bordered table-striped scoreboard">
    <tr>
        <th>#</th>
        <th>Team</th>
        <th>Points</th>
        <th>Penalty</th>
        {% for i, problem in enumerate(phase.scoreboard_problems) %}
            {# <th>{{ contest.problems[problem].title }}</th> #}
            <th title="{{ contest.problems[problem].title }}">{{ i+1 }}</th>
        {% endfor %}
    </tr>
    {% for i, (team, points, penalty, sb) in enumerate(scoreboard) %}
        <tr>
            <td>
                {% if points > 0 %}
                    {{ i+1 }}
                {% endif %}
            </td>
            <td>{{ contest.teams[team].title }}</td>
            <td>{{ points }}</td>
            <td>{{ penalty | format_time }}</td>
            {% for p in phase.scoreboard_problems %}
                {% set problem = sb[p] %}

                {% if problem.solved_at != None %}
                    <td class="ac">
                {% elif problem.new_submissions > 0 %}
                    <td class="new">
                {% elif problem.try_count > 0 %}
                    <td class="wa">
                {% else %}
                    <td>
                {% endif %}

                    {% if problem.solved_at == None %}
                       --:--
                    {% else %}
                        {{ problem.solved_at | format_time }}
                    {% endif %}

                    {% if problem.try_count > 0 or problem.new_submissions > 0 %}
                    ({{ problem.try_count }}{% if problem.new_submissions > 0 %}+{{ problem.new_submissions }}{% endif %})
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

{% endblock %}
