html {
  height: 100%;
}
html, body {
  /*min-height: 100%;*/
  /*height: 100%;*/
}
body {
  padding-top: 50px;
  min-height: 100%;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  position: relative;
}
table a {
    color: #1f84c7;
}

/*#header .dropdown-menu li a {
    color: rgb(51, 51, 51);
    text-shadow: none;
}

#header .navbar-text {
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}



#problem-list a {
}

#problem-list li {
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
}



#problem-list .number {
    color: black;
}*/


#main {
  padding: 0;
}
.wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.sidebar-toggle {
  padding: 7px 10px;
  margin-left: 5px;
}
.sidebar-wrapper {
  z-index: 100;
  position: absolute;
  left: 250px;
  top: 0;
  bottom: 0;
  width: 0;
  margin-left: -250px;
  background: #111;
  padding-top: 50px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-wrapper {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.wrapper.active .sidebar-wrapper {
  width: 250px;
}
.wrapper.active .content-wrapper {
  transform: translateX(250px);
}
@media (min-width: 768px) {
  .content-wrapper {
    padding: 20px;
    position: relative;
  }
  .sidebar-wrapper {
    width: 250px;
  }
  .wrapper.active .content-wrapper {
    transform: none;
  }
  .wrapper {
    padding-left: 250px;
  }
}
.problem-list {
  background: #111;
  padding-left: 15px;
  padding-right: 0;
}
.problem-list a {
  color: #999999;
}
.problem-list .fa {
  color: white;
}
.problem-list .nav-header {
  color: #aaa;
  text-transform: uppercase;
  font-weight: bold;
}

.problem-list li {
    overflow-wrap: break-word;
}

.problem-list li.ac a {
    background-color: #d5ecbf;
    /*color: #1f84c7;*/
    color: #444;

}

.problem-list li.wa a {
    background-color: #f2bdb1;
    /*color: #1f84c7;*/
    color: #444;
}

.problem-list>li.active>a, .problem-list>li>a:focus, .problem-list>li>a:hover {
  background-color: #eee;
  color: #111;
  text-decoration: none;
}
.problem-list>li.active>a .fa, .problem-list>li>a:focus .fa, .problem-list>li>a:hover .fa {
  color: #000;
}


/*The problem description*/
.content .problem {
    max-width: 580px;
    margin: 0 auto;
    font-size: 1.2em;
    margin-top: 20px;
}

.content .problem h1 {
    font-size: 2.4em;
    margin-bottom: 0.6em;
}

.content .problem h2 {
    margin-top: 0.8em;
    margin-bottom: 0.1em;
    font-size: 1.4em;
}

.content .problem p + p {
    text-indent: 1em;
}

.content .problem fieldset legend h2 {
    margin-top: 1.4em;
}

.content .problem table.sample {
  width: 100%;
  table-layout: fixed;
  border-spacing: 5px;
  border-collapse: separate;
}

.content .problem table.sample th{
  text-align: left;
}

.content .problem table.sample th, .content .problem table.sample td{
  vertical-align: baseline;
  width: 50%;
}

.problemheader h3{
  font-size: 14px;
  line-height: normal;
}

.content .form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

#problem_description {
    overflow: hidden;
}
/*CodeMirror setup*/

.problem .CodeMirror {
    clear: both;
    position: relative;
}

.problem #code_wrapper {
    margin-top: 10px;
    margin-bottom: 30px;
}

.problem #code_buttons {
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

body.code_mode .header, body.code_mode .sidebar-wrapper, body.code_mode .footer {
    display: none;
}
body.code_mode .content, body.code_mode .content-wrapper {
  position: static;
}

body.code_mode .wrapper {
  padding-left: 0;
}

body.code_mode #problem_description {
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 50%;
    background-color: white;
    overflow: auto;
    padding: 20px;
}

body.code_mode #code_wrapper {
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background-color: white;
    margin: 0;
}

body.code_mode .CodeMirror {
    height: 100%;
    width: 100%;
}

/*Scoreboard*/
.content table.scoreboard th, .content .scoreboard td {
    text-align: center;
}

.content table.scoreboard td.ac {
    background-color: #d5ecbf;
}

.content table.scoreboard td.wa {
     background-color: #f2bdb1;
}

.content table.scoreboard td.new {
    background-color: #a7dff1;
}

.content table.scoreboard td {
    vertical-align: middle;
}

/*Submissions*/
.content table.submissions .sub_time,
.content table.submissions .sub_memory {
    text-align: right;
}

.content table.submissions .sub_verdict,
.content table.submissions .sub_submitted,
.content table.submissions .sub_id {
    text-align: center;
}

/*Submission page*/
.content table.diff {font-family:Courier; border:medium;}
.content .diff_header {background-color:#e0e0e0}
.content td.diff_header {text-align:right}
.content .diff_next {background-color:#c0c0c0}
.content .diff_add {background-color:#aaffaa}
.content .diff_chg {background-color:#ffff77}
.content .diff_sub {background-color:#ffaaaa}

/*Footer */
.footer {
    margin-bottom: 30px;
    text-align: center;
}
.footer hr {
  margin-top: 0;
}


/*Image helpers*/
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
