"C++ (g++ 4.8.0)":
    filename: "sol.cpp"
    compile: ["__EPSILON_PREFIX__/judge/scripts/compile_cpp.sh"]
    execute: ["./a.out"]
    highlight: 'clike'
    template: |
        #include<iostream>
        using namespace std;

        int main()
        {

            return 0;
        }
"C (gcc 4.8.2)":
    filename: "sol.c"
    compile: ["__EPSILON_PREFIX__/judge/scripts/compile_c.sh"]
    execute: ["./a.out"]
    highlight: 'clike'
    template: |
        #include<stdio.h>

        int main()
        {

            return 0;
        }
"Python 3.3.2":
    filename: "sol.py"
    execute: ["__EPSILON_EXE_PYTHON3__", "sol.py"]
    highlight: 'python'
"Python 2.7.5":
    filename: "sol.py"
    compile: ["__EPSILON_PREFIX__/judge/scripts/compile_py2.sh"]
    execute: ["__EPSILON_EXE_PYTHON2__", "sol.py"]
    highlight: 'python'
"Ruby 2.0.0":
    filename: "sol.rb"
    compile: ["__EPSILON_PREFIX__/judge/scripts/compile_rb.sh"]
    execute: ["__EPSILON_EXE_RUBY__", "sol.rb"]
    highlight: 'ruby'
    nprocs: 3
"Java (javac 1.7.0_45)":
    filename: "Main.java"
    compile: ["__EPSILON_PREFIX__/judge/scripts/compile_java_javac_detect.sh"]
    execute: ["./execute.sh"]
    min_mem: 4000000
    nprocs: 30
    highlight: 'clike'
    template: |
        import java.util.*;
        import java.math.*;
        import java.io.*;

        public class Main {
            public static void main(String[] args) throws Exception {
                Scanner in = new Scanner(System.in);
                PrintWriter out = new PrintWriter(System.out, true);

            }
        }
"C# (mono dmcs 3.2.3.0)":
    filename: "Main.cs"
    compile: ["__EPSILON_PREFIX__/judge/scripts/compile_csharp.sh"]
    execute: ["__EPSILON_EXE_MONO__", "Main.exe"]
    min_mem: 4000000
    nprocs: 30
    highlight: 'clike'
    template: |
        using System;

        public class Program
        {
            public static void Main()
            {

            }
        }
"Pascal (fpc 1.0.4)":
    filename: "sol.pas"
    compile: ["__EPSILON_PREFIX__/judge/scripts/compile_pas.sh"]
    execute: ["./prog"]
    highlight: 'pascal'
"Perl (v5.10.0)":
    filename: "sol.pl"
    compile: ["__EPSILON_PREFIX__/judge/scripts/compile_pl.sh"]
    execute: ["__EPSILON_EXE_PERL__", "sol.pl"]
    highlight: 'perl'
"JavaScript (SpiderMonkey 24)":
    filename: "sol.js"
    compile: ["__EPSILON_PREFIX__/judge/scripts/compile_js.sh"]
    execute: ["__EPSILON_EXE_JS__", "-f", "sol.js"]
    nprocs: 4
    highlight: 'javascript'
"Octave (3.8.0)":
    filename: "sol.m"
    execute: ["__EPSILON_EXE_OCTAVE__", "--silent", "--no-window-system", "--no-history", "--no-init-file", "--no-line-editing", "--no-site-file", "--norc", "sol.m"]
    highlight: 'octave'
# "Haskell (ghc 7.6.3)":
#     filename: "sol.hs"
#     compile: ["/usr/bin/ghc", "-O", "--make", "sol"]
#     execute: ["./sol"]
#     min_mem: 4000000
#     highlight: "haskell"
#     template: |
#         main = do
